@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --field-color: rgba(255, 255, 255, 0.08);
  --field-height: 65px;
  --field-border-radius: 8px;
}

body {
  background-color: #3b3b98;
  color: #fff;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #23235d;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 400px;
  max-width: 100%;
}

/* .result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.btn {
  border: none;
  background-color: #3b3b98;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
} */

/* field-color: rgba(255, 255, 255, 0.08);
field-height: 65px;
field-border-radius: 8px; */

.result {
  position: relative;
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.result .info {
  position: absolute;
  bottom: 4px;
  color: #fff;
  font-size: 0.8rem;
  transition: all 150ms ease-in-out;
  transform: translateY(200%);
  opacity: 0;
}
.result .info.right {
  right: 8px;
}
.result .info.left {
  left: 8px;
}

.result .viewbox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  line-height: 65px;
}
/* #copy-btn {
		position: absolute;
		top: var(--y);
		left: var(--x);
		width: 38px;
		height: 38px;
		background: #fff;
		border-radius: 50%;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
		transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		cursor: pointer;
		z-index: 2;
		&:active {
			box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
		}
	}
	&:hover {
		#copy-btn {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1.35);
		}
	}
} */

.settings {
  background: var(--fade);
  padding: 0.5em;
  border-radius: 6px;
  margin: 0.5em 0;
}

.setting {
  position: relative;
  width: 100%;
  height: 65px;
  background: var(--field-color);
  border-radius: var(--field-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  color: #fff;
  margin-bottom: 8px;
}
/* input {
		opacity: 0;
		position: absolute;
		+ label {
			user-select: none;
			&::before,
			&::after {
				content: "";
				position: absolute;
				transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
				transform: translateY(-50%);
				top: 50%;
				right: 10px;
				cursor: pointer;
			}
			&::before {
				height: 30px;
				width: 50px;
				border-radius: 30px;
				background: rgba(214, 214, 214, 0.434);
			}
			&::after {
				height: 24px;
				width: 24px;
				border-radius: 60px;
				right: 32px;
				background: #fff;
			}
		}
		&:checked {
			& + label:before {
				background: #5d68e2;
				transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
			}
			& + label:after {
				right: 14px;
			}
		}
		&:focus {
			+ label:before {
				box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
			}
		}
		&:disabled{
			+ label{
				&:before, &:after{ cursor: not-allowed }
				&:before{ background: #4f4f6a }
				&:after{ background: #909090 }
			}
		}
	}
}
} */
input[type="checkbox"] {
  /* opacity: 0; */
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  /*
  width: 4.5em;
  height: 2.5em;
  position: relative;
  background: rgb(33, 158, 196);
  border-radius: 50px; */
}

/* input[type="checkbox"]:before {
  content: "";
  width: 30px;
  height: 30px;
  right: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(46, 18, 137, 0.434);
  border-radius: 50%;
  transition: all ease 0.25s;
} */

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
input[type="checkbox"]::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}
input[type="checkbox"]::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}

/* input[type="checkbox"]:focus {
  box-shadow: 0 0 0 2px rgb(6, 0, 0);
} */
/* input[type="checkbox"]:checked:after {
  right: 14px;
} */
/* input[type="checkbox"]:checked{
  label:before {
    background: #5d68e2;
    transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
  }
  &+label:after {
    right: 14px;
  }
  left: 50%;
  background: rgb(166, 107, 107);
  background: #5d68e2;
				transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
} */

input[type="checkbox"]:checked::after {
  right: 14px;
}
input[type="checkbox"]:checked:before {
  /* left: 50%;
  background: rgb(166, 107, 107); */
  background: #5d68e2;
	transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
  
}

